@font-face {
  font-family: 'BeonMedium';
  src: url('assets/beon-webfont.woff') format('woff'), url('assets/beon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.clear-both {
  clear: both;
}

body {
  font-family: BeonMedium;
  background-image: url(assets/background.png);
  background-position: center;
  background-size: contain;
  margin: 0;
}

.header {
  text-align: center;
  font-size: 10vh;
  color: pink;
}

.header .text {
  text-shadow: -1vh -0.2vh 0.1vh #000000;
  color: #ffcef5;
}

.header .glowbox {
  box-shadow: 0px 0px 11vh 9vh rgba(191, 72, 171, 0.36);
  display: inline-block;
  width: 24vw;
  margin-left: -24vw;
  position: relative;
  top: -3vh;
}



.map {
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
}

.map .field {
  background-image: url(/assets/field_normal.png);
  background-size: contain;
  position: absolute;
}

.map .field.green, .join .colors .color.green {
  background-image: url(/assets/field_green.png);
}

.map .field.pink, .join .colors .color.pink {
  background-image: url(/assets/field_pink.png);
}

.map .field.yellow, .join .colors .color.yellow {
  background-image: url(/assets/field_yellow.png);
}

.map .field.blue, .join .colors .color.blue {
  background-image: url(/assets/field_blue.png);
}


.start {
  position: absolute;
  background-image: url(/assets/start.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.end {
  position: absolute;
  background-image: url(/assets/end.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.join {
  position: absolute;
  top: 50vh;
  left: 50vw;
  padding: 5vh;
  transform: translate(-50%, -50%);
  background-color: #e89dda;
  text-align: center;
  background-color: rgba(232, 157, 218, 0.55);
  text-align: center;
  box-shadow: 0px 0px 11vh 9vh rgba(191, 72, 171, 0.36);
  font-size: 3vh;
  color: white;
}

.colors {
  display: inline-block;
}

.colors .color {
  width: 10vh;
  height: 10vh;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  margin-bottom: 1vh;
  transition: 200ms linear;
  float: left;
  cursor: pointer;
  border-radius: 10vh;
}

.colors .color:hover, .colors .color.active {
  margin-top: 1vh;
  margin-bottom: 0;
}

.colors .color.disabled {
  opacity: 0.3;
  margin-top: 0 !important;
  margin-bottom: 1vh !important;
}

.colors .color.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.join form {
  text-align: left;
}

.join form select, .join form button, .join form input {
  font-size: 3vh;
  margin-top: 1vh;
  font-family: BeonMedium;
  background-color: #e99edb;
  border: none;
  color: white;
  padding: 1vh;
  border-radius: 0.4em;
  transition: 200ms linear;
}

.join form select:focus, .join form button:focus, .join form input:focus {
  outline: 0;
}

.join form button, .join form select {
  cursor: pointer;
}

.join form button:hover, .join form select:hover, .join form input:focus {
  background-color: #ca88bd;
}

.join form button {
  float: right;
}

.join form button:disabled {
  background-color: #583b53;
  color: #86587d;
}
