@font-face {
  font-family: 'BeonMedium';
  src: url('assets/beon-webfont.woff') format('woff'), url('assets/beon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.clear-both {
  clear: both;
}

body {
  font-family: BeonMedium;
  background-image: url(assets/background.png);
  background-position: center;
  background-size: contain;
  margin: 0;
}

.header {
  text-align: center;
  font-size: 10vh;
  color: pink;
}

.header .text {
  text-shadow: -1vh -0.2vh 0.1vh #000000;
  color: #ffcef5;
}

.header .glowbox {
  box-shadow: 0px 0px 11vh 9vh rgba(191, 72, 171, 0.36);
  display: inline-block;
  width: 24vw;
  margin-left: -24vw;
  position: relative;
  top: -3vh;
}



.map {
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
}

.map .field {
  background-image: url(/assets/field_normal.png);
  background-size: contain;
  position: absolute;
}

.map .field.green, .join .colors .color.green {
  background-image: url(/assets/field_green.png);
}

.map .field.pink, .join .colors .color.pink {
  background-image: url(/assets/field_pink.png);
}

.map .field.yellow, .join .colors .color.yellow {
  background-image: url(/assets/field_yellow.png);
}

.map .field.blue, .join .colors .color.blue {
  background-image: url(/assets/field_blue.png);
}


.start {
  position: absolute;
  background-image: url(/assets/start.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.end {
  position: absolute;
  background-image: url(/assets/end.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.join {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  background-color: #e89dda;
}

.colors {

}

.colors .color {
  width: 10vh;
  height: 10vh;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  margin-top: 0vh;
  transition: 200ms linear;
  float: left;
  cursor: pointer;
}

.colors .color:hover {
  margin-top: 1vh;
}

.dice {
  background-image: url(/assets/DICES.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 15vh;
  height: 15vh;
  position: absolute;
  left: -15vh;
  top: 65vh;
}
.diceOff {
  background-image: url(/assets/Dicesoff.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 15vh;
  height: 15vh;
  position: absolute;
  left: -15vh;
  top: 65vh;
}